{% extends "base.html" %} {% block title %} Tag View {% endblock %} {% block
main %}
<h1>Tag Detail for {{tag.name}}</h1>
<ul>
    {% for post in tag.posts %}
    <li>
        <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
    </li>
    {% endfor %}
</ul>

<form action="/tags/{{tag.id}}/edit" method="GET">
  <input type="submit" value="Edit Tag" />
</form>
<br />
<form action="/tags/{{tag.id}}/delete">
  <input type="submit" value="Delete" />
</form>
<br />
<form action="/tags">
  <input type="submit" value="Cancel" class="cancel" />
</form>
{% endblock %}
