{% extends "base.html" %}
{% block title %}
User Profile View 
{% endblock %}
{% block main %}
<h1>User Profile Information</h1>
<h3>User: {{user.full_name()}}</h3>
<div>
    <img src="{{user.image_URL}}" width="250">
</div>
<br>
<section id="buttons">
    <div class="edit">
        <form action="/users/{{user.id}}/edit">
            <input type="submit" value="Edit User">
        </form>
    </div>
    <br>
    <div class="delete">
        <form action="/users/{{user.id}}/delete">
            <input type="submit" value="Delete User">
        </form>
    </div>
    <br>
    <div class="back">
    <form action="/users">
        <input type="submit" value="Go Back">
    </form>
</section>
<section class="posts">
    <h3>Posts:</h3>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <div class="add-post">
        <form action="/users/{{user.id}}/posts/new">
            <input type="submit" value="Add A Post">
        </form>
    </div>
</section>

{% endblock %}